.table-user-shirt-view{
    margin-top: 0.5vw;

    width: 50vw;
    height: 4vw;

    border-collapse: collapse;
    border-radius: 3vw;

    background-color: bisque;
}
.a-user-email{
    color: grey;
    font: 1em sans-serif;
}
.td-user-avatar{
    width: 4vw;
}
.img-user-avatar{
    vertical-align: middle;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
}